snippet dataclass "Create a dataclass"
@dataclass
class ${1:MyClass}:
    ${0}
endsnippet

snippet forkey "Enumerate an iterable for key/value pair"
for ${1:key}, ${2:value} in enumerate(${3}):
    pass
endsnippet
